# 파이썬 기초

# Jupyter Notebook

- 개인 PC를 사용하는 경우  
  - PC에 아나콘다 설치
  - jupyter notebook 실행
- 구글 클라우드 colab 사용  
  - colab.research.google.com 접속
  - 구글 계정에 가입해야 한다, 크롬 브라우저 사용
  - 스마트폰에서도 colab 사용 가능
- 예제는 github.com에서 다운로드 한다  
  - github.com 계정 가입 필요

# 기본 변수
## 숫자, 문자열, 불리언

- 숫자에는 정수(int)와 부동소수(float)가 있다
- 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 자동으로 변환된다

In [14]:
## 논리형 연산 결과는 논리형 값이다

a = True
b = False
print(a & b) # False
print(a | b) # True

False
True

In [17]:
print(a+b)
print(a+3)
print(a*10)

1
4
10

# 묶음 데이터 
 - 숫자, 문자, 불리언 등 단변수들을 여러개 묶어 처리하는 방법
 - 리스트(list), 튜플(tuple), 사전(dictionary)

## 리스트
 - 파이썬에서 가장 널리 사용되는 데이터 조작용 "통"
 - 리스트를 구성하는 각 항목의 데이터 타입은 서로 달라도 된다
 - 리스트 항목으로 이미지나, 파일 전체를 담을 수도 있다

### 리스트 복제
- 리스트 전체를 반복 복제 하려면 "*"를 사용한다
- 리스트를 합치려면 "+"를 사용한다

### 항목 추가 : append()

In [11]:
## 리스트 복제 및 더하기

a = [0] # 항목이 0 하나인 리스트
b = [1] # 항목이 1 하나인 리스트
z = a*5 + b*5
z

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [12]:
z.append(5)
z

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 5]

## range

- 일정한 범위의 값들을 나타내는 특수 변수

In [22]:
## 특수 변수 range와 내용 보기

x = range(10)
print(x)
print(list(x))

y = range(2,20,3)
print(y)
print(list(y))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 20, 3)
[2, 5, 8, 11, 14, 17]

In [32]:
## 1~5 사이의 정수에 10을 곱하기

for i in range(1,6):
    print(i*10)

10
20
30
40
50

### 리스트 내에서 for 사용하기

In [33]:
## 리스트 선언문 내에서 for를 사용하는 방법

z = [i*10 for i in range(1,6)]
print(z)

[10, 20, 30, 40, 50]

In [18]:
## 특정 문자열이 포함된 항목을 찾아서 리스트를 만들기

files = ['cat001', 'cat002', 'dog003', 'dog004']
key = 'cat'
new_list = [s for s in files if key in s]
print(new_list)

['cat001', 'cat002']